<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Comments</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login/style.css' %}">
    </head>
    <body>  
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class = "hello2">
            <h1>Name: {{user.first_name}} {{user.last_name}}</h1>
            <h1>{{user.first_name}}'s comments:</h1>
            {%for comment in user.comments.all%}
                <h3>{{comment.poster.first_name}} said: {{comment.contents}}</h3>
            {%endfor%}
            <h1>Add comment</h1>
            <form style = "margin: 0 0 20px 0;" action = "/comment" method = "POST"> 
                {%csrf_token%}
                <input type = "hidden" name = "poster_id" value = {{request.session.id}}>
                <input type = "hidden" name = "user_id" value = {{user.id}}>
                <input type = "text" name = "comment" placeholder = "Enter comment here!">
                <input type = "submit" value = "Add comment">
            </form>
            <a href = "/dashboard">Go back</a>
        </div>
    </body>
</html>